<table class="table table-striped">
  <thead>
    <tr>
      <th>Currency</th>
      <th>Gross</th>
      <th>Discount</th>
      <th>Net</th>
      <th>Category</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.currency %></td>
        <td><%= order.gross %></td>
        <td><%= order.discount %></td>
        <td><%= order.net %></td>
        <td>
       <% if order.category.present?%>
        <%= order.category.name %>
        <%end%>
        </td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
